server {
    listen 80;
    server_name {{ domain_name }}{% if domain_aliases %} {{ domain_aliases }}{% endif %};
    root {{ static_root }};
    index index.html index.htm;

    access_log /var/log/nginx/access.log;
    error_log /var/log/nginx/error.log;

    # nginx-tools:custom-before-location:start
    {{ custom_before_location | safe }}
    # nginx-tools:custom-before-location:end

    location / {
        try_files $uri $uri/ =404;
        # nginx-tools:custom-inside-location:start
        {{ custom_inside_location | safe }}
        # nginx-tools:custom-inside-location:end
    }

    location ~* \.(jpg|jpeg|png|gif|ico|css|js|svg|woff|woff2)$ {
        expires 30d;
        add_header Cache-Control "public, immutable";
    }

    # nginx-tools:custom-after-location:start
    {{ custom_after_location | safe }}
    # nginx-tools:custom-after-location:end
}
